
langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain-google-genai
langgraph
unstructured
python-docx
fastmcp
langchain-mcp-adapters
fastapi